.userDetail {
  padding: 10px;
  font-size: 12px;
  width: 300px;
  h3,
  pre {
    margin: unset;
    text-align: left;
    font-family: inherit;
  }
}

.singleUser {
  background: white;
  width: 600px;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  margin: 15px 15px 0 15px;
  padding: 10px;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  box-shadow: 1px 2px #ced4da;
  .profileImg {
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }
}

.btn-detail {
  color: #0081a7;
  background: white;
  border: solid 1.5px #0081a7;
  padding: 5px 20px;
  border-radius: 5px;
  position: relative;
  left: 90px;
  top: 70px;
}
