.git-header {
  background-color: #118ab2;
  height: 30px;
  padding: 10px 0;
  .sortUser {
    height: 30px;
    width: 200px;
  }
  .searchUser {
    height: 25px;
    width: 300px;
    margin-left: 100px;
  }
}
